
.background-jumbo{
   background-color:  #e9ecef;
}

.pad-10{
    padding: 10px 10px;
}
/**
 * Escape the navbar
 */
.top-pad {
    margin-top: 3.5rem;
}

.carousel-control-next a:hover{
    background-color: black;
}

.footer {
    background: #061D25;
    padding: 10px 0;
}

.footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    transition: all .5s ease;
}

.footer a:hover {
    color: white;
}
